.logo {
    width: 200px;
    text-align: justify;
    text-align-last:justify;
    color: #fff;
    font-size:24px;
    float: left;
    margin-right:40px;
}

.logo:after{
    content: '';
    display: inline-block;
    width: 100%;
}